.bannerContainer {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    color: #E31837;
}

.navTitle {
    margin: auto;
    width: 50%;
    text-align: center;
    color: #E31837;
}

.formContainer {
    height: 300px;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    /* margin-top: 35%; */
    top: 50vh;
    z-index: 4;

    /* margin-bottom: 50px; */

}

.loginContainer {
    text-decoration: none;
    border-radius: 10px;
    width: 300px;
    background-color:  #005DAA;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    transition: top ease .5s;
    position: relative;
    top: 0;
}

.loginContainer h2{
    margin-top: 80px;
}

.loginContainer:hover {
    box-shadow: 0 4px 4px rgba(0,0,0,.25);
    top: -10px
}

* {
    font-family: Arial,Helvetica,"Helvetica Neue",Roboto,georgia,serif;
}

.bodyContent {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    display: block;
}

.signInTitle {
    font-size: 2.25rem;
    margin-bottom: 1.25rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    margin-top: 0;
    display: block;
    margin-left: 18%;
    margin-right: 18%;

}

.signInForm {
    border: 1px solid #ccc;
    padding: 2rem;
    box-sizing: border-box;
    display: block;
    color: #333;
    font-weight: 400;
    margin-left: 18%;
    margin-right: 18%;
}

.signInForm input{
    color: rgba(0,0,0,.87);
    display: flex;
    /* border: none !important; */
    background-color: transparent;
    z-index: 1;
    padding: 20px 16px 7px;
    align-self: flex-end;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    height: 56px;
    border-radius: 4px 4px 0 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    display: inline-flex;
    position: relative;
    box-sizing: border-box;
    transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
    will-change: opacity,transform,color;
    margin-top: 10px;
    font-size: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 5px;
}


.signInForm button{
    background-color: #3071a9;
    border: 0;
    border-top-color: initial;
    border-top-style: initial;
    border-top-width: 0px;
    border-right-color: initial;
    border-right-style: initial;
    border-right-width: 0px;
    border-bottom-color: initial;
    border-bottom-style: initial;
    border-bottom-width: 0px;
    border-left-color: initial;
    border-left-style: initial;
    border-left-width: 0px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    font-size: 1rem;
    padding: 0.625rem 1rem;
    color: #fff;
    width: 100%;
    margin: 0;
    border-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    margin-top: 20px;
    cursor: pointer;
}

.switcher {
    margin-top: 20px;
}

.switcher a{
    text-decoration: none;
    color: #0060a9;
    border-bottom: 1px dotted #0060a9;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: rgb(0, 96, 169);
}

.switcher a:hover{
    border-bottom-style: solid;
}

.divider {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border-top: 1px solid #ccc;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(204, 204, 204);
}

.createAccount {
    background-color: rgb(234, 234, 234);
    border-bottom-color: rgb(0, 96, 169);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(0, 96, 169);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(0, 96, 169);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(0, 96, 169);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-style: none;
    border-top-width: 0px;
    box-sizing :border-box;
    color: rgb(0, 96, 169);
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: 400;
    height: 43px;
    line-height: 24px;
    margin-top: 20px;
    padding-bottom :9.504px;
    padding-top: 9.504px;
    text-align: center;
    text-decoration-color: rgb(0, 96, 169);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.createAccount:hover {
    background-color: rgb(220, 220, 220);
}

.newToCostco {
    font-size: 18px;
    font-weight: 400px;
    color: rgb(51, 51, 51)

}

.errors {
    box-sizing: border-box;
color: rgb(211, 32, 41);
display: block;
font-size: 14px;
font-weight :700;
height :17px;
line-height: normal;
list-style-type: none;
margin-top: 5.008px;
text-align :left;
text-size-adjust: 100%;
width: 499.984px;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.navContainer {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    max-height: 75px;
}

.navDepartments a{
    text-align: center;
    text-decoration: none;
    background-color: rgb(0, 115, 166);
    border-right-style :solid;
    box-sizing: border-box;
    color :rgba(0, 0, 0, 0.8);
    display :table-cell;
    font-family :Arial, Helvetica, "Helvetica Neue", Roboto, georgia, serif;
    font-feature-settings: "kern", "liga", "clig", "calt", "kern";
    font-kerning: normal;
    font-size: 20px;
    font-stretch: 100%;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 400;
    height: 42px;
    line-height: 28.5714px;
    overflow-wrap: break-word;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    text-size-adjust: 100%;
    vertical-align: middle;
    white-space: nowrap;
    width :100.047px;
    -webkit-font-smoothing: antialiased;
    color: rgb(255, 255, 255);
}

.navLogout button{
    cursor: pointer;
    border: none;
    text-decoration: none;
    background-color: rgb(0, 115, 166);
    border-right-style :solid;
    box-sizing: border-box;
    color :rgba(0, 0, 0, 0.8);
    display :table-cell;
    font-family :Arial, Helvetica, "Helvetica Neue", Roboto, georgia, serif;
    font-feature-settings: "kern", "liga", "clig", "calt", "kern";
    font-kerning: normal;
    font-size: 20px;
    font-stretch: 100%;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 400;
    height: 42px;
    line-height: 28.5714px;
    overflow-wrap: break-word;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    text-size-adjust: 100%;
    vertical-align: middle;
    white-space: nowrap;
    width :100.047px;
    -webkit-font-smoothing: antialiased;
    color: rgb(255, 255, 255);
}

.primaryBtn {
    cursor: pointer;
    border: none;
    text-decoration: none;
    background-color: rgb(0, 115, 166);
    border-right-style: solid;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.8);
    display: table-cell;
    font-family: Arial, Helvetica, "Helvetica Neue", Roboto, georgia, serif;
    font-feature-settings: "kern", "liga", "clig", "calt", "kern", "kern", normal, normal, normal;
    font-kerning: normal;
    font-size: 20px;
    font-stretch: 100%;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 400;
    height: 42px;
    line-height: 28.5714px;
    overflow-wrap: break-word;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    text-size-adjust: 100%;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    color: rgb(255, 255, 255);

}

.splashLogo {
    position: fixed;
    left: 0;
    right: 0;
    top: -25%;
    bottom: 0;

    margin-left: auto;
    margin-right: auto;

    height: 120vh;
    max-width: 100%;

    /* width: 100vw;
    height: 100vh; */
    /* margin-top: -240px; */
    z-index: 1;

}

.splashContainer {
    background-color: #E31837;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
}


.radios {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.radios div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.radios input{
    align-self:center;
    height: 35px;
}

.navLogout {
    display: flex;
    /* justify-content: space-between; */
    flex: 1;
    justify-content: flex-end;
}

.navDepartments {
    flex: 1;
}

.navLogout a{
    text-align: center;
    text-decoration: none;
    background-color: #E31837;
    color: rgb(255, 255, 255);
    margin-right: 10px;
    font-size: 19px;
    padding: 10px;
    overflow-wrap: break-word;
    width: 100.047px;
}

.navLogo {
    width: 250px;
    height: 300px;
    margin-top: 20px;
    object-fit: cover;
}


.test {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-bottom: 20px;

    width: 95%;
    right: 20px;
    /* left: 5px; */
}


.test a{
    padding: 5px;
    text-decoration: none;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    background-color:  #005DAA;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    transition: top ease .5s;
    position: relative;
    top: 0;
    font-size: 14px;
    min-width: 100px;
    text-align: center;
}

.test a:hover {
    box-shadow: 0 4px 4px rgba(0,0,0,.25);
    top: -10px
}

.createdby {
    color: white;
}

.about {
    position: relative;
    color: white;
    z-index: 10000000;
    margin-top: 50%;
}

.continueBtn {
    margin-top: 10px;
    cursor: pointer;
    font-weight: 500;
    padding: 11px 28px;
    border-radius: 12px;
    font-size: 0.8rem;
    border: none;
    color: #fff;
    background: #199a48;
    transition: all 0.25s ease;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    justify-self: center;
  }

  .continueBtn:hover {
    box-shadow: 0 10px 20px -10px rgba(255, 62, 78, 0.6);
    transform: translateY(-5px);
    background: rgb(0, 115, 166);;
  }

  .darkBG2 {
    display: absolute; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 0; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  .ticketModal2 {
    width: fit-content;
    height: fit-content;
    background: white;
    color: white;
    z-index: 10;
    border-radius: 16px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
    padding-bottom: 10px;
  }

  .ticketModal2 div {
      font-size: 20px;
      text-align: center !important;
  }

  .ticketModal2 div > h5{
      font-size: 28px;
  }
