.departmentDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
}

.buttons {
    margin-top: 40px;
    display:flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 10%;
    margin-left: 20px;
}

.removeButton{
    cursor: pointer;
    font-weight: 500;
    padding: 5px 22px;
    border-radius: 12px;
    font-size: 0.8rem;
    border: none;
    color: #fff;
    background: #E31837;
    /* z-index: 1; */
}

.editButton {
    cursor: pointer;
    font-weight: 500;
    padding: 5px 22px;
    border-radius: 12px;
    font-size: 0.8rem;
    border: none;
    color: #fff;
    background:rgb(0, 115, 166);
    /* z-index: 1; */
}

.addItHereContainer {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
    width: 50%;
    margin: 0 auto;

}
