.ticketDetails {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
    width: 100%;
    justify-content: space-between;
}

.ticketButtons {
    display:flex;
    flex-direction: column;
    max-width: 70px !important;
}

.ticketDetails h1{
    font-size: large;
    width: 230px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 5%;
  }

.ticketDetails div{
   width: 100px;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
}

.noButtons {
    max-width: 70px !important;
    z-index: -100;
}

.removeTicketButton{
    cursor: pointer;
    font-weight: 500;
    border-radius: 12px;
    font-size: 0.8rem;
    border: none;
    color: #fff;
    background: #E31837;
    padding:5px
    /* z-index: 1; */
}

.editTicketButton {
    cursor: pointer;
    font-weight: 500;
    border-radius: 12px;
    font-size: 0.8rem;
    border: none;
    color: #fff;
    background:rgb(0, 115, 166);
    padding:5px
    /* z-index: 1; */
}

.doneSingleTicketContainer {
    display: flex;
    flex-direction: row;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    border: 5px solid transparent;
    background: green;
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    transition: top ease .5s;
    position: relative;
    top: 0;
    height: fit-content;
    width: 80%;
    height: 55.09px;
}

.doneSingleTicketContainer a{
    color: white;
    text-decoration: none;
    text-align: center;
}

.doneSingleTicketContainer:hover {
    box-shadow: 0 8px 8px rgba(0,0,0,.25);
    top: -10px
}

.completeButton {
    background: none;
	color: inherit;
	padding: 5px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    border: 1px solid white;
    border-radius: 5px;
}
