.ticketDetails {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
    width: 100%;
    justify-content: space-around;
}
.ticketButtons {
    padding: 3px;
    margin-right: 5px;
    display:flex;
    flex-direction: column;
    width: fit-content;
}

.ticketDetails h1{
    font-size: large;
    width: 230px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

.ticketDetails div{
   width: 100px;
}

.noButtons {
    width: 111px;
    z-index: -100;
}
